<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task - Django aapped</title>
</head>
<body>
    <div class="container">
        <h3 class=pt-5 pb-5 text-center>
            Django Todo that edit Tasks
        </h3>
        
        <form action="" method="POST">

            {% csrf_token %} # It is used by that server side to keep your form secure
            <div class="form-group">
                <span style="display: flex;">
                    <input type="text" name="task" class="form-control" placeholder="Add a task">
                    <button type="submit" class="btn btn-primary" style="width: 200px;"><i class="fa fa-plus"></i> Add</button>
                </span>
            </div>
        </form>
    </div>
</body>
</html>